page-pedidos {

    /* .ion-card .button .ion-icon[aria-selected=true] {
        padding: 0;
        border-top: red;
        border-style: solid;
        border-width: 10px
    } */
    /* .myColorClass1 {
        border-style: solid;
        border-width: 15px;
        //border-color: red;
      }
      .myColorClass2 {
        border-style: solid;
        border-width: 15px;
        border-color: green;
      } */
}
