page-home {
    .searchBoxContainer{
        border: 1px solid #9dd8f4 !important;
        background: #444;
        padding: 5px;
        margin-bottom: 10px;
      }
      #searchField {
        background-color: #ffffffd9;
        padding: 0px 5px;
      }  
}
